h1 { 
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 0 3em;
}

.image-container img {
    height: 700px;
    width: 300px;
    display: block;
    object-fit: cover;
    transition: all .2s ease-in-out;
    /* z-index: 1; */
    
}


.image-container img:hover {
    transform: scale(1.1);
    font-size: 3em;
    /* z-index: 9999; */
    
    
}

.projects-container {
    display: flex;
    justify-content: center;
    margin: 0 3em 1em;
}

.project-container {
    width: 35em;
    text-align: center;
    margin: 0 1em 1em;
    padding-bottom: 6em;
}

.image-links {
    position: relative;
    text-align: center;
}