@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

 /* @import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap'); */
h1 { 
    text-align: center;
}

*{
    font-family: 'Roboto'
  }

.landing-link:hover{
    text-decoration: none !important;
  }
.icon-popup{
    color: white;
}  
.landing-name {
    font-size:70px;
    color: #363837;
    transition-duration: 250ms;
  }

  .landing-name:hover {
    color:white;
  }

.nav-links{
      margin: 2em;
      padding: .5em;
      font-size: 18px;
      background-color: #222222;
      border-radius: 4px;
  }

.image-container {
    display: flex;
    justify-content: center;
    padding: 0 3em;
}

.image-container img {
    height: 650px;
    max-width: 300px;
    display: block;
    object-fit: cover;
    transition: all .2s ease-in-out;
    /* z-index: 1; */
    
}
.form-container {
    margin: auto;
    width: 70%;
    padding: 2em;
    background-color: #333333;
    border-radius: 14px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form input, textarea{
    margin: 1.5em 0 0 0;
}


.image-container img:hover {
    transform: scale(1.1);
    font-size: 3em;
    z-index: 4;
    position: relative;  
}

.projects-container {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
    overflow-x: auto;
    margin: 0 2em 1em;
    
}

.mobile-project-container {
    min-width: 325px;
    text-align: center;
    margin: 0 0 2em 0;
    padding-bottom: 5em;
}

.project-container {
    min-width: 30em;
    height: 700px;
    text-align: center;
    margin: 0 1em 1em;
    padding-bottom: 2em;
    border-radius: 12px;
}

.image-links {
    position: relative;
    text-align: center;
    
}

.image-links h2 {
    position: absolute;
    z-index:5 ; 
    color: white;

}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.mobile img{
    min-height: 400px;
    max-width: 300px;
    display: block;
    object-fit: cover;
    transition: all .2s ease-in-out;
    
}

.mobile button{
    margin: 2em 0;

}